# Docker Ignore for Render.com
# This speeds up deployment by ignoring large local folders

/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.git
.env
.env.backup
.idea
.vscode
npm-debug.log
yarn-error.log
ixiz/
